/* Jumbotron */
#jumbo-image {
	max-width: 100%; /* 1920 * 1275 */
}


/* Articles Block */
.article img {
	float: left;
	max-width: 50%;
	margin-top: 5px;
	margin-right: 5px;
}

.article {
	padding: 1px;
	margin-bottom: 10px;
}

.article p {
	font-size: 12px;
}

.article p span {
	display: block;
	font-size: 18px;
}


/* Carousel */
div.carousel {
	height: 300px;
}


/* Modal */
.modalHeader {
	background-color: rgb(40, 147, 243); 
	margin: 0; 
	padding: 8px 0px 8px 8px;
}

#modalClose {
	position: absolute; 
	top: 0; 
	right: 0; 
	margin: 0; 
	padding: 0 10px; 
	color: rgba(0, 0, 0, 0.5);
}

#modalTable tr {
	line-height: 30px;
}

#modalTable tr td {
	padding: 10px;
}

#modalTable tbody tr:nth-child(odd) {
	background-color: rgb(245, 246, 250);
}


/* Slideout */
#slide-out li a {
	color: white;
}

